# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/src/lib/asset-list.json

#sitemaps
*.xml

# development
/storybook-static
/public/generated
/.storybook/generated

# misc
.DS_Store
*.pem
src/common/utils/iconDict.json
src/iconDict.json

# debug
npm-debug.log*
.vscode/
yarn-debug.log*
yarn-error.log*
.eslintcache

# local env files
.env.local
.env.development
.env.development.local
.env.test
.env.production
.env

# vercel
.vercel
