.quote-container{
    display:flex;
    margin-left: 29%;
    margin-right: 29%;
}
.quote-img{
    width: 24%;
    margin-right: 5%;
    margin-top: 2.5%;
}
.quote-author{
    font-size: 12px;
    margin: 1.5%;
    color: #0097CF;
}