:root {
  --heading-xxl: clamp(2.625rem, 2.6rem + 3vw, 4.375rem);  /* min 42px ---- max 70px */
  --heading-xl: clamp(2.1875rem, 1.74rem + 1.99vw, 3.125rem); /* min 35px ---- min 50px */
  --heading-l: clamp(1.875rem, 1.45rem + 2.29vw, 2.5rem); /* min 30px ---- max 40px */
  --heading-m: clamp(1.625rem, 1.3rem + 1.8vw, 2rem); /* min 26px ---- max 32px */
  --heading-sm: clamp(1.25rem, 1rem + 1.47vw, 1.625rem); /* min 20px ---- max 26px */
  --heading-xsm: clamp(1rem, 0.6rem + 1.42vw, 1.375rem); /* min 16px ---- max 22px */
}

html[data-theme="dark"] {
  background: var(--chakra-colors-darkTheme);
}
html[data-theme="light"] {
  background: var(--chakra-colors-white);
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  scroll-behavior: smooth;
  scroll-padding: 14px;
}

*.active {
  color: #0097CD;
}

a.black-link {
  color: #000000;
  text-decoration: underline;
}

*.link-underlined {
  text-decoration: underline;
  cursor: pointer;
}
*.link {
  color: #0097CD;
}
*.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: none !important;
}

body.chakra-ui-light .chakra-popover__arrow {
  z-index: 99!important;
  background: var(--popper-arrow-bg)
}

body.chakra-ui-dark .arrow-blue-color {
  border: 1px solid #0097CD;
  background: var(--chakra-colors-gray-800) !important;
}

featured {
  color: #0097CD;
}

.react-player {
  aspect-ratio: 16/9;
}
.react-player iframe {
  border-radius: 4px;
}

@keyframes bounce {
  0% {
     opacity: 1;
     transform: translateY(0px);
  }
  50% {
     opacity: 0.7;
     transform: translateY(-10px);
  }
  100% {
     opacity: 1;
     transform: translate(0px);
  }
}
.prismic-body h2 {
  font-size: 32px;
}

.upload-wrapper:hover .icon-bounce,
.upload-wrapper.dragOver .icon-bounce {
  animation: bounce 1s ease-in-out infinite;
}

/* .centerImageForBlur {
  max-width: 90%!important;
  min-width: 90%!important;
  min-height: 90%!important;
  max-height: 90%!important;
  z-index: 1 !important;
  border-radius: 8px;
} */

.hideOverflowX__::-webkit-scrollbar {
  width: 0!important;
  height: 0!important;
}

.hideOverflowX__ img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.horizontal-sroll::-webkit-scrollbar {
  width: 6px;
}

.with-shadow::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -2px;
  width: 2px;
  height: 16px;
  box-shadow: 0 0 80px 34px rgb(0 0 0 / 75%);
  z-index: 1;
  border-radius: 0;
  background: #000000;
}

.chakra-popover__popper {
  z-index: 99 !important;
}
.chakra-modal__content {
  margin: 0 10px;
}

.horizontal-sroll::-webkit-scrollbar-track {
  border-radius: 10px;
}

.horizontal-sroll.light::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.horizontal-sroll.dark::-webkit-scrollbar-track {
  background-color: #4a5568;
}

.horizontal-sroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #0096cc; 
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(0, 151, 205, 0.2) 32%, #0097CD 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #263238;
}
@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg)}
} 

.highlighted {
  border-bottom: 4px solid #0097CD;
  padding: 0 0 2px 0;
  font-weight: 800;
  font-style: italic;
}

.chakra-avatar img {
  -webkit-user-drag: none;
}

.pulse-red {
	background: rgba(255, 82, 82, 1);
	box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
	animation: pulse-red 1.5s infinite;
}
.pulse-blue {
	box-shadow: 0 0 0 0 rgb(69, 170, 220);
	animation: pulse-blue 2.5s infinite;
}
.pulse-yellow {
	box-shadow: 0 0 0 0 rgb(242, 236, 63);
	animation: pulse-yellow 2s infinite;
}
.pulse-green {
	box-shadow: 0 0 0 0 rgb(38, 190, 46);
	animation: pulse-green 1.5s infinite;
}
.pulse-green2 {
	box-shadow: 0 0 0 0 rgb(38, 190, 46);
	animation: pulse-green2 2.2s infinite;
}

/* 2 pulsos */
@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.5), 0 0 0 0 rgba(255, 82, 182, 0.5);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 8px rgba(255, 82, 82, 0), 0 0 0 14px rgba(255, 82, 182, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0), 0 0 0 0px rgba(255, 82, 182, 0);
	}
}
@keyframes pulse-blue {
	0% {
		/* transform: scale(0.95); */
		box-shadow: 0 0 0 0 rgba(64, 166, 250, 0.5), 0 0 0 0 rgba(77, 225, 241, 0.2), 0 0 0 0 rgba(6, 197, 255, 0.14);
	}
	
	70% {
		/* transform: scale(1); */
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0), 0 0 0 18px rgba(255, 82, 82, 0), 0 0 0 22px rgba(255, 82, 82, 0);
	}
	
	100% {
		/* transform: scale(0.95); */
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0), 0 0 0 25px rgba(255, 82, 82, 0), 0 0 0 25px rgba(255, 82, 82, 0);
	}
}
@keyframes pulse-yellow {
	0% {
		/* transform: scale(0.95); */
		box-shadow: 0 0 0 0 rgba(255, 153, 20, 0.803), 0 0 0 0 rgba(229, 191, 54, 0.5), 0 0 0 0 rgba(231, 184, 42, 0.44);
	}
	
	70% {
		/* transform: scale(1); */
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0), 0 0 0 18px rgba(255, 82, 82, 0), 0 0 0 22px rgba(255, 82, 82, 0);
	}
	
	100% {
		/* transform: scale(0.95); */
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0), 0 0 0 25px rgba(255, 82, 82, 0), 0 0 0 25px rgba(255, 82, 82, 0);
	}
}
@keyframes pulse-green {
	0% {
		/* transform: scale(0.95); */
		box-shadow: 0 0 0 0 rgba(39, 199, 45, 0.803), 0 0 0 0 rgba(54, 229, 60, 0.5), 0 0 0 0 rgba(42, 231, 74, 0.44)
	}
	
	70% {
		/* transform: scale(1); */
		box-shadow: 0 0 0 8px rgba(255, 82, 82, 0), 0 0 0 12px rgba(255, 82, 82, 0), 0 0 0 14px rgba(255, 82, 82, 0);
	}
	
	100% {
		/* transform: scale(0.95); */
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0), 0 0 0 14px rgba(255, 82, 82, 0), 0 0 0 16px rgba(255, 82, 82, 0);
	}
}
@keyframes pulse-green2 {
	0% {
		/* transform: scale(0.95); */
		box-shadow: 0 0 0 0 rgba(39, 199, 45, 0.803), 0 0 0 0 rgba(54, 229, 60, 0.5), 0 0 0 0 rgba(42, 231, 74, 0.44)
	}
	
	70% {
		/* transform: scale(1); */
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0), 0 0 0 18px rgba(255, 82, 82, 0), 0 0 0 22px rgba(255, 82, 82, 0);
	}
	
	100% {
		/* transform: scale(0.95); */
		box-shadow: 0 0 0 0px rgba(255, 82, 82, 0), 0 0 0 22px rgba(255, 82, 82, 0), 0 0 0 25px rgba(255, 82, 82, 0);
	}
}

.scroll-container {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-font-smoothing: antialiased;

}
.scroll-area {
  scroll-snap-align: center;
}

.sidebarButton {
  opacity: 0.5;
  transition: border 0.4s ease-in-out;
  border-bottom: 4px solid transparent;
}
.sidebarButton:hover {
  opacity: 1;
  color: #0097ce;
}

.sidebarButton.active {
  opacity: 1;
  border-bottom: 4px solid #0097cd;
  color: #0097ce;
}

.chakra-avatar__excess {
  z-index: 5;
}
.cm-editor {
  position: relative !important;
  box-sizing: border-box;
  height: 100%;
  display: flex !important;
  flex-direction: column;
}
.react-datepicker-popper {
  min-width: 250px;
}

.chakra-ui-dark .md-editor-preview {
  /* background-color: var(--color-canvas-default); */
  background-color: #17202A;
}
.chakra-ui-light .md-editor-preview {
  /* background-color: var(--color-canvas-default); */
  background-color: #FFFFFF;
}

.chakra-ui-dark .ͼ1k {
  color: var(--chakra-colors-white)
}

.ͼ1n {
  color: var(--chakra-colors-blue-default2);
}

.force-overflow {
  overflow: auto !important;
}

.dashed-box-animated {
  background-image: repeating-linear-gradient(0deg, #a3a3a3, #a3a3a3 19px, transparent 19px, transparent 32px, #a3a3a3 32px), repeating-linear-gradient(90deg, #a3a3a3, #a3a3a3 19px, transparent 19px, transparent 32px, #a3a3a3 32px), repeating-linear-gradient(180deg, #a3a3a3, #a3a3a3 19px, transparent 19px, transparent 32px, #a3a3a3 32px), repeating-linear-gradient(270deg, #a3a3a3, #a3a3a3 19px, transparent 19px, transparent 32px, #a3a3a3 32px);
  background-size: 2px calc(100% + 32px), calc(100% + 32px) 2px, 2px calc(100% + 32px) , calc(100% + 32px) 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  animation: borderAnimation 0.6s infinite linear;
}

.dashed-box:hover {
  animation: borderAnimation 0.6s infinite linear;
}
  
@keyframes borderAnimation {
  from { background-position: 0 0, -33px 0, 100% -33px, 0 100%; }
  to { background-position: 0 -33px, 0 0, 100% 0, -33px 100%; }
}

.dashed-box {
  background-image: repeating-linear-gradient(0deg, #a3a3a3, #a3a3a3 19px, transparent 19px, transparent 32px, #a3a3a3 32px), repeating-linear-gradient(90deg, #a3a3a3, #a3a3a3 19px, transparent 19px, transparent 32px, #a3a3a3 32px), repeating-linear-gradient(180deg, #a3a3a3, #a3a3a3 19px, transparent 19px, transparent 32px, #a3a3a3 32px), repeating-linear-gradient(270deg, #a3a3a3, #a3a3a3 19px, transparent 19px, transparent 32px, #a3a3a3 32px);
  background-size: 2px calc(100% + 32px), calc(100% + 32px) 2px, 2px calc(100% + 32px) , calc(100% + 32px) 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}

.error-message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--chakra-colors-red-500);
  margin-top: var(--chakra-space-2);
  font-size: var(--chakra-fontSizes-sm);
}
.center-absolute-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.center-absolute-Y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -1em; /* gutter size offset */
  width: auto;
}
.masonry-grid_column {
  padding-left: 1em; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  margin-bottom: 1em;
}

.star-rating div {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
}
.star-rating div.on {
  background: #ffb718;
  background-clip: text;
  -webkit-text-fill-color: rgb(0 0 0 / 0%);
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: rgb(169 169 169);
}
.star-rating div.off {
  background: #ffffff;
  background-clip: text;
  -webkit-text-fill-color: rgb(0 0 0 / 0%);
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: rgb(169 169 169);
}

.star-rating div.middle {
  background: linear-gradient(
    to right,
    rgb(255 165 0) 50%,
    rgb(255 255 255) 50%
  );
  background-clip: text;
  -webkit-text-fill-color: rgb(0 0 0 / 0%);
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: rgb(169 169 169);
}

.intro-video,
.intro-video iframe {
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 999;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 1140px;
  height: auto;
  aspect-ratio: 16/9;
  transition: all 0.5s ease;
}

/* Transición para expandir y contraer */
.video-container {
  transform: scale(0);
}
.video-overlay .video-container {
  transform: scale(1);
}

.hide-preview .md-editor-toolbar-warp {
  display: none;
}
.hide-preview .md-editor-content-editor {
  width: 100% !important;
}
.hide-preview .md-editor-preview {
  display: none;
}
.react-syntax-highlighter-line-number {
  padding: 0 16px;
  text-align: right;
  display: block;
  min-width: 4.25em;
  text-align: right;
  user-select: none;
  color: rgb(153, 153, 153);
}
body.chakra-ui-light .anchorjs-link {
  background: #EEF9FE;
  border-radius: 4px;
}
body.chakra-ui-dark .anchorjs-link {
  background: #283340;
  border-radius: 4px;
}

.anchorjs-link {
  color:#0097CD;
  font-size: 24px !important;
}

.md-editor, .cm-theme, .md-editor-content-editor {
  height: 100% !important;
}
/* body {
	overflow: auto !important;
}

nextjs-portal {
	display: none;
} */