.MDImg {
  padding: 8px!important;
  display: block;
  margin: auto;
  max-width: 750px;
}
.MDIframe {
  width: 100%;
  /* height: auto; */
  aspect-ratio: 16/9;
}
.markdown-body body > *:first-child {
  margin-top: 0 !important;
}

.markdown-body body > *:last-child {
  margin-bottom: 0 !important;
}

.markdown-body a {
  color: #0097CD;
  text-decoration: inherit;
}
.markdown-body a:hover {
  color: #0097CD;
  text-decoration: underline;
}

.markdown-body a.absent {
  color: #cc0000;
}

.markdown-body a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}


.markdown-body pre {
  /* border-radius: 3px; */
  line-height: 19px;
  overflow: auto;
  display: block;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 6px;

  /* background-color: #f8f8f8; */
  /* display: initial; */
  /* font-size: 13px; */

  /* padding: 6px 10px; */
  /* border-radius: 3px; */

  /* padding: 16px; */
}

.markdown-body img {
  max-width: auto;
  max-height: 700px !important;
}
.markdown-body #beforeAfterSliderContainer {
  max-width: 600px;
  max-height: 700px;
  margin: 0 auto;
}

.markdown-body blockquote {
  border-radius: 3px;
  margin: 0;
  padding: 0.7em;
}

.markdown-body code {
  border-radius: 5px;
}

.markdown-body.light blockquote {
  color: #f5f5f5;
  background-color: #2d3748;
  border-left: 0.25em solid #0097cd;
}
.markdown-body.dark blockquote {
  background-color: #283340;
  color: #cbd5e0;
  border-left: 0.25em solid #0097cd;
}
.markdown-body blockquote p {
  padding: 10px 0 10px 14px;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3,
.markdown-body h4, .markdown-body h5, .markdown-body h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold !important;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}

.markdown-body h2:first-child, .markdown-body h1:first-child, 
.markdown-body h1:first-child + .markdown-body h2, .markdown-body h3:first-child,
.markdown-body h4:first-child, .markdown-body h5:first-child, .markdown-body h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

.markdown-body h1 tt, .markdown-body h1 code {
  font-size: inherit;
}

.markdown-body h2 tt, .markdown-body h2 code {
  font-size: inherit;
}

.markdown-body h3 tt, .markdown-body h3 code {
  font-size: inherit;
}

.markdown-body h4 tt, .markdown-body h4 code {
  font-size: inherit;
}

.markdown-body h5 tt, .markdown-body h5 code {
  font-size: inherit;
}

.markdown-body h6 tt, .markdown-body h6 code {
  font-size: inherit;
}

.markdown-body h1 * {
  font-size: 28px;
}

.markdown-body h2 * {
  font-size: 24px;
}

.markdown-body h3 * {
  font-size: 18px;
}

.markdown-body h4 * {
  font-size: 16px;
}

.markdown-body h5 * {
  font-size: 14px;
}

.markdown-body h6 * {
  color: #777777;
  font-size: 14px;
}

.markdown-body p, .markdown-body blockquote,
.markdown-body dl, .markdown-body table {
  margin: 15px 0;
  overflow: auto;
}

.markdown-body blockquote p {
  padding: 0;
  margin: 0;
}

.markdown-body.light blockquote table * {
  color: black;
}

.markdown-body.dark blockquote table * {
  color: #cbd5e0;
}

.markdown-body hr {
  border: 0 none;
  /* color: #cccccc; */
  height: 2px;
  padding: 0;
}

.markdown-body body > h2:first-child {
  margin-top: 0;
  padding-top: 0;
}

.markdown-body body > h1:first-child {
  margin-top: 0;
  padding-top: 0;
}

.markdown-body body > .markdown-body h1:first-child + .markdown-body h2 {
  margin-top: 0;
  padding-top: 0;
}

.markdown-body body > .markdown-body h3:first-child, .markdown-body body > .markdown-body h4:first-child, .markdown-body body > .markdown-body h5:first-child, .markdown-body body > .markdown-body h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

.markdown-body a:first-child h1,
.markdown-body a:first-child h2,
.markdown-body a:first-child h3,
.markdown-body a:first-child h4,
.markdown-body a:first-child h5,
.markdown-body a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

.markdown-body h1 p, .markdown-body h2 p, .markdown-body h3 p,
.markdown-body h4 p, .markdown-body h5 p, .markdown-body h6 p {
  margin-top: 0;
}

.markdown-body li p.first {
  display: inline-block;
}

.markdown-body ul :first-child, ol :first-child {
  margin-top: 0;
}

.markdown-body ul :last-child, ol :last-child {
  margin-bottom: 0;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

.markdown-body dl dt:first-child {
  padding: 0;
}

.markdown-body dl dt > :first-child {
  margin-top: 0;
}

.markdown-body dl dt > :last-child {
  margin-bottom: 0;
}

.markdown-body dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

.markdown-body dl dd > :first-child {
  margin-top: 0;
}

.markdown-body dl dd > :last-child {
  margin-bottom: 0;
}

/* blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
} */

.markdown-body .linenumber.react-syntax-highlighter-line-number {
  min-width: 3.25em !important;
}

.markdown-body table {
  padding: 0;
  border-collapse:collapse;
  /* responsive to tablet device (760px) */
  overflow: auto;
  width: 100%;
  display: block;
}

.markdown-body.light thead {
  border: 2px solid #E2E8F0;
}
.markdown-body.dark thead {
  border: 2px solid #718096;
}

.markdown-body.light tbody {
  border: 2px solid #E2E8F0;
}
.markdown-body.dark tbody {
  border: 2px solid #718096;
}

.markdown-body table tr {
  border-top: 1px solid #cccccc;
  /* background-color: white; */
  margin: 0;
  padding: 0;
}

.markdown-body.light table tr {
  background-color: white
}
.markdown-body.dark table tr {
  background-color: #283340
}
.markdown-body.light table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.markdown-body.dark table tr:nth-child(2n) {
  background-color: #17202A;
}

.markdown-body table tr th {
  font-weight: bold;
  /* border: 1px solid #cccccc; */
  text-align: center;
  margin: 0;
  padding: 6px 13px;
}

.markdown-body table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.markdown-body table tr td img {
  display: inline-block;
}
.markdown-body table tr td a {
  display: -webkit-inline-box;
}

.markdown-body.light table tr th {
  border: 1px solid #E2E8F0;
}
.markdown-body.dark table tr th {
  border: 1px solid #718096;
}

.markdown-body.light table tr td {
  border: 1px solid #E2E8F0;
}
.markdown-body.dark table tr td {
  border: 1px solid #718096;
}

.markdown-body table tr th :first-child, .markdown-body table tr td :first-child {
  margin-top: 0;
}

.markdown-body table tr th :last-child, .markdown-body table tr td :last-child {
  margin-bottom: 0;
}

.markdown-body span.frame {
  display: block;
  overflow: hidden;
}

.markdown-body span.frame > span {
  border: 1px solid #dddddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}

.markdown-body span.frame span img {
  display: block;
  float: left;
}

.markdown-body span.frame span span {
  clear: both;
  color: #333333;
  display: block;
  padding: 5px 0 0;
}

.markdown-body span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-body span.align-center > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}

.markdown-body span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.markdown-body span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-body span.align-right > span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}

.markdown-body span.align-right span img {
  margin: 0;
  text-align: right;
}

.markdown-body span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}

.markdown-body span.float-left span {
  margin: 13px 0 0;
}

.markdown-body span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}

.markdown-body span.float-right > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}

.markdown-body code, .markdown-body tt {
  margin: 0 2px;
  padding: 2px 5px;
  white-space: break-spaces;
  background-color: rgb(45, 45, 45);
  color: #ccc;
}

.markdown-body.dark code, .markdown-body tt {
  white-space: break-spaces;
  background-color: #28292A;
  color: #ccc;
}

.markdown-body pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: rgb(45, 45, 45);
}
.linenumber.react-syntax-highlighter-line-number {
  padding: 0 0 0 16px;
}

/* .highlight {
  font-size: .85em;
  line-height: 2.0;
  overflow: auto;
  width: fit-content;
  display: initial;
  padding: 0.2em 0.5em;
} */

.text-highlight{
  display: block;
  overflow: auto;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.markdown-body pre code, pre tt {
  background-color: rgb(45, 45, 45);
  border: none;
}

.markdown-body sup {
  font-size: 12px
}

.markdown-body sup * {
  font-size: 12px
}

@media screen and (min-width: 1440px) {
  .text-highlight {
    width: 100%;
  }
  .markdown-body pre {
    width: 100%;
  }
}
/* table {
  display: block;
  width: 100%;
} */

@media screen and (max-width: 995px) {
  .markdown-body table {
    width: 100%;
    overflow: auto;
    /* display: grid; */
  }

}

.md-bullet {
  display: flex;
  gap: 4px;
  margin-left: 2rem !important;
  margin: 5px 0 0 0;
  /* padding-bottom: 15px; */
  flex-direction: column;
}
