
.react-tagsinput {
  background-color: transparent;
  border: 1px solid var(--chakra-colors-gray-default);
  padding-left: 10px;
  padding-top: 10px;
  cursor: text;
  border-radius: 3px;
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
}
.react-tagsinput-input::placeholder {
  color: var(--chakra-colors-gray-400);
  letter-spacing: 0.03em;
}

 .react-tagsinput.error {
  border-color:red;
  box-shadow: 0 0 0 1px #e53e3e;
}
 .react-tagsinput.error:hover {
  border-color:red;
  box-shadow: 0 0 0 1px #e53e3e;
}
.react-tagsinput.error:active {
 border-color: #3182CE;
 box-shadow: none;
}
.react-tagsinput--focused.error {
 border-color: #3182CE;
 box-shadow: none;
}
 .react-tagsinput--focused.error:hover {
  border-color: #3182CE;
  box-shadow: none;
}
.react-tagsinput:hover {
  border-color: var(--chakra-colors-gray-300);
}
.react-tagsinput:active {
  border-color: #3182CE;
}
.react-tagsinput:focus-visible {
  border-color: #3182CE;
}
.react-tagsinput:active {
  border-color: #3182CE;
}
.react-tagsinput--focused {
  border-color: #3182CE;
}
.react-tagsinput--focused:hover {
  border-color: #3182CE;
}

.react-tagsinput-tag {
  border-radius: 2px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px 8px;
  border-radius: 8px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 11px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 125px;
}

.react-autosuggest__container {
  position: relative;
  display: inherit;
}

.react-autosuggest__input {
  width: 150px;
  height: 30px;
  padding: 10px 8px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 38px;
  left: 0;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 12;
  max-height: 250px;
  overflow-y: auto;
}

body.chakra-ui-dark .react-autosuggest__suggestions-container--open {
  background-color: var(--chakra-colors-gray-800);
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

body.chakra-ui-dark .react-autosuggest__suggestion--highlighted {
  background-color: var(--chakra-colors-gray-700);
}

